/* .container {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #fff;
} */

.ctn{
    width: 30%;
    margin: auto;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-control {
    border-radius: 3px;
    box-shadow: none;
    border: 1px solid #ccc;
    padding: 10px;
}

.btn {
    border-radius: 3px;
}
